*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ECEBE4;
}

@font-face {
    font-family: "lamina";
    src: url(../fonts/lumina/LUMINA.ttf);
}
.mainHeader {
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #704C5E;
    font-family: "lamina";
    color: #ECEBE4;
}

.mainMain {
    display: flex;
    padding-top: 10vh;
}

